header {
    background-color: #004080;  
    padding: 20px;
    margin: 0;
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
}

header img {
    width: 50px;
    height: 50px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;  /* White text */
    font-size: 20px;
    margin: 0;  /* Remove default margins */
}

nav {
    display: flex;  
    justify-content: space-evenly;  
    background-color: #003366;  
    color: white;  
    padding: 10px;  
    font-family: Arial;
}

nav a {
    color: white;  
    text-decoration: none; 
    font-size: 16px; 
}

nav a:hover {text-decoration: underline; }

.about-lms {
    background-color: #d4d4d4;  
    text-align: center; 
    font-family: Arial;
    padding: 20px;  
   /* margin: 20px;  Margin for spacing outside*/
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-lms h2{ color: #003366;}


footer{
    background-color: #004080;  
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
    font-family: Arial;
}

.leaderboard-table{
    border: 1px solid;
    border-color: white;
    border-collapse: collapse; 
    width: 100%; 
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.leaderboard-table tr, .leaderboard-table td, .leaderboard-table img{
    border: 1px solid;
    border-color: white;
    border-collapse: collapse; 
}

.leaderboard-header {
    background-color: #4CAF50; 
    color: white;
    font-size: 36px;
}

.leaderboard-table img{
    border-radius: 50px;
    border-color: black;
    width: 50px; 
    height: 50px;
}

.leaderboard-winner {
    background-color: #FFD700;
}

.leaderboard-second{
    background-color: #C0C0C0;
}

.leaderboard-third{
    background-color: #CD7F32;
}

.leaderboard-data1{
    background-color: #f9f9f9
}

.leaderboard-data2{
    background-color: #e4e2e2;
}
